.card{
    margin: 0px;
    background-color: transparent !important;
    border-color: transparent !important;
}
.card-text{
    font-weight: bold ;
    color: yellow;
}
.card-title{
    font-weight: bold !important;
    color: yellow !important;
}
.router-title{
    width: 100vw;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}