/* Home.css */
html{
    margin: 0px;
}
.home{
    background-color: black;
    margin-left: 0px;
    color: #9fffff;
}
.poster {
    width: 100vw;
    display: block;
    margin-top: 50px;
  }
.Cyber-text{
    font-size: 60px;
    text-align: center;
    color: yellow;
    }
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .inside-cyber {
    display: flex;
    justify-content: space-between;
  }
  
  .Cyber {
    flex: 1;
    margin: 5px;
    margin-top: 10px;
    max-width: 30vw; /* Each image will take up one-third of the viewport width */
    height: auto;
  }

  .Monitor{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .picMonitor {
    width: 50%;
  }
  
  .textMonitor {
    margin-left: 10px;
    flex-grow: 1;
    text-align:justify;
    justify-content: center;
    align-items: center;
  }
.Gaming{
    color: yellow;
    font-style: italic;
}
.title{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.description{
    font-style: italic;
    font-size: 15px;
    opacity: 0.5;
}

.Gear{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  .picGear {
    width: 50%;
    
  }

  .Food {
    flex: 1;
    margin-top: 10px;
    height: 150px;
    width: 12.5vw; /* Each image will take up one-third of the viewport width */
  }

  .Menu {
    display: flex;
    flex-direction: row;

  }
  
  .component1{
    border: none;
    position: relative;
    text-align: center;
    color: white;
    flex: 1;
    padding: 1px;
    border: 0px solid #ccc;
    margin: 0px;
    overflow: hidden; /* Ẩn phần ngoài phạm vi của phần tử */
    position: relative; /* Đặt vị trí của phần tử */

  }
  
.image {
    width: 100%; /* Set the width of the image to fill its container */
    height: auto; /* Maintain aspect ratio */
    border: none; /* Remove the border */
    width: 100%;
    height: 300px;
    transition: 0.2s; /* Thêm transition cho hiệu ứng */
    filter: brightness(40%);
    transition: 0.75s;
    
  }
  .image:hover {
    transform: scale(1.2); /* Phóng to ảnh lên 120% khi di chuột vào */


  }
  .brighten {
    filter: brightness(100%); /* Điều chỉnh độ sáng của ảnh */
  }
  
  .text {
    position: absolute;
    top: 50%; /* Position the text in the middle */
    left: 50%; /* Position the text in the middle */
    transform: translate(-50%, -50%); /* Center the text */
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 20px;
    background:none; /* Màu trắng */

  }
  