/* styles.css */
.slick-slide {
    margin: 0 10px;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    color: black;
  }
  
  .slick-prev:before,
  .slick-next:before {
    content: '←';
  }
  
  .slick-next:before {
    content: '→';
  }
  
  .slick-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #bbb;
    border-radius: 50%;
  }
  
  .slick-dots li.slick-active button {
    background: #000;
  }
  
  .nice{
    background-image: url("../image/background/back1.jpg")
    ;
  }